canvas, #canvas, .canvas{
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}

#canvas_ally{
    z-index:1;
}

#canvas_background{
    z-index:0;
}

#fps{
    z-index:4;
    position: absolute;
    top: 0px;
    left: 10px;
    color: #ff0055;
    font-family: Arial;
    cursor: default;
}