body{
    margin: 0px;
}

#canvases {
    position: relative;
}

canvas, #canvas, .canvas{
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}

#canvas_ally{
    z-index:1;
}

#canvas_background{
    z-index:0;
}

#fps{
    display: none;
    z-index:4;
    position: absolute;
    top: 0px;
    left: 10px;
    color: #ff0055;
    font-family: Arial;
    cursor: default;
}

.gui{
    z-index:4;
    position: absolute;
    margin: 0px;
    top: 0px;
    background: black;
    border: 1px solid gray;
    padding: 3px;
    color: white;
    font-family: Arial;
    cursor: default;
}