body{
    margin: 0px;
    position: absolute;
}

#canvases {
    position: relative;
}

canvas, #canvas, .canvas{
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}

#canvas_ally{
    z-index:1;
}

#canvas_background{
    z-index:0;
}

#fps{
    display: none;
    z-index:4;
    position: absolute;
    top: 0px;
    left: 10px;
    color: #ff0055;
    font-family: Arial;
    cursor: default;
}

.gui{
    z-index: 4;
    margin: 0px;
    position: absolute;
    cursor: default;
}

#gui-container{
    width: 800px;
    height: 600px;
}

.gui-box{
    top: 0px;
    background: black;
    border: 1px solid gray;
    padding: 3px;
    color: white;
    font-family: Arial;
}

.prompt{
    background: white;
    border: 3px solid gray;
    font-size: 20px;
    padding: 10px;
}

#waves {
    right: 0px;
}